# Importing the dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

# Data Collection & pre-processing

In [8]:
iris_data = pd.read_csv('D:\ML Files\IRIS Flowerset Prediction\iris.csv',names=['Sep len','Sep wid','Pet len','Pet wid','Class'],header=None)

In [9]:
iris_data.head()

   Sep len  Sep wid  Pet len  Pet wid        Class
0      5.1      3.5      1.4      0.2  Iris-setosa
1      4.9      3.0      1.4      0.2  Iris-setosa
2      4.7      3.2      1.3      0.2  Iris-setosa
3      4.6      3.1      1.5      0.2  Iris-setosa
4      5.0      3.6      1.4      0.2  Iris-setosa

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

In [10]:
iris_data.shape

(150, 5)

In [11]:
iris_data.describe()

          Sep len     Sep wid     Pet len     Pet wid
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [7]:
iris_data.isnull().sum()

5.1            0
3.5            0
1.4            0
0.2            0
Iris-setosa    0
dtype: int64

In [16]:
iris_data.groupby('Class').count()

                 Sep len  Sep wid  Pet len  Pet wid
Class
Iris-setosa           50       50       50       50
Iris-versicolor       50       50       50       50
Iris-virginica        50       50       50       50

In [17]:
#Replacing class by numeric value
iris_data.replace({'Class':{'Iris-setosa':1,'Iris-versicolor':2,'Iris-virginica':3}},inplace=True)

Iris-setosa':1
'Iris-versicolor':2
'Iris-virginica':3

In [20]:
iris_data.head()

   Sep len  Sep wid  Pet len  Pet wid  Class
0      5.1      3.5      1.4      0.2      1
1      4.9      3.0      1.4      0.2      1
2      4.7      3.2      1.3      0.2      1
3      4.6      3.1      1.5      0.2      1
4      5.0      3.6      1.4      0.2      1

In [21]:
iris_data.tail()

     Sep len  Sep wid  Pet len  Pet wid  Class
145      6.7      3.0      5.2      2.3      3
146      6.3      2.5      5.0      1.9      3
147      6.5      3.0      5.2      2.0      3
148      6.2      3.4      5.4      2.3      3
149      5.9      3.0      5.1      1.8      3

# Splitting dataset into features and labels

In [24]:
X = iris_data.drop(columns='Class',axis=1)
Y = iris_data['Class']

In [25]:
print(X)

     Sep len  Sep wid  Pet len  Pet wid
0        5.1      3.5      1.4      0.2
1        4.9      3.0      1.4      0.2
2        4.7      3.2      1.3      0.2
3        4.6      3.1      1.5      0.2
4        5.0      3.6      1.4      0.2
..       ...      ...      ...      ...
145      6.7      3.0      5.2      2.3
146      6.3      2.5      5.0      1.9
147      6.5      3.0      5.2      2.0
148      6.2      3.4      5.4      2.3
149      5.9      3.0      5.1      1.8

[150 rows x 4 columns]

print(Y)

# Spliiting features and labels for train & test

In [27]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,stratify=Y,test_size=0.2,random_state=5)

In [28]:
print(X.shape,X_train.shape,X_test.shape)

(150, 4) (120, 4) (30, 4)

# Model Training

In [35]:
model = LogisticRegression()

In [36]:
model.fit(X_train,Y_train)

C:\Users\Tarun\.conda\envs\MLTarun\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# Model Evaluation

In [38]:
#Accuracy Score for training data
train_prediction = model.predict(X_train)
acc_score_train = accuracy_score(train_prediction,Y_train)
print("Accuracy Score for training dataset : ",round(acc_score_train*100,2))

Accuracy Score for training dataset :  98.33

In [39]:
#Accuracy Score for testing data
test_prediction = model.predict(X_test)
acc_score_test = accuracy_score(test_prediction,Y_test)
print("Accuracy Score for testing dataset : ",round(acc_score_test*100,2))

Accuracy Score for testing dataset :  96.67

# Building a predictive system

In [42]:
input_data = (6.3,2.9,5.6,1.8)

#5.3,3.7,1.5,0.2,Iris-setosa
#5.0,3.3,1.4,0.2,Iris-setosa
#7.0,3.2,4.7,1.4,Iris-versicolor
#6.4,3.2,4.5,1.5,Iris-versicolor
#7.1,3.0,5.9,2.1,Iris-virginica
#6.3,2.9,5.6,1.8,Iris-virginica

input_np = np.asarray(input_data)

input_res = input_np.reshape(1,-1)

predicted = model.predict(input_res)

if(predicted[0] == 1):
    print("Iris-setosa")
elif(predicted[0] == 2):
    print("Iris-versicolor")
elif(predicted[0] == 3):
    print("Iris-virginica")

Iris-virginica

C:\Users\Tarun\.conda\envs\MLTarun\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(